.form-control,
input {
  background: rgba(255, 255, 255, 0.1);
  color: "white";
}
.searchItemResult {
  text-align: "left";
  background-color: rgba(0, 0, 0, 0.9);
  position: "relative";
  width: 50%;
  border: solid 2px black;
  margin-right: 400px;
  cursor: pointer;
}
.searchItemResult:hover {
  background-color: cadetblue;
}
.participantInput {
  margin-top: 1em;
}
.nav-link {
  cursor: pointer;
}
